<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <!--    Bean scope defines how many instances of a bean Spring creates and how long they live inside the container.
            By default,Spring beans are singleton: one shared instance per Spring container.

            scope="prototype" When you define a bean with scope="prototype",
            Spring will create a new instance every time you request it from the container. -->


    <bean id="alien1" class="org.aadi.Alien" scope="prototype">

    </bean>



    <bean id="lap" class="org.aadi.Laptop">

    </bean>


</beans>




